<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Index page</title>
    </head>
    <body>
   		<h1>Index page</h1>
   		<p>Public page  <a th:href="@{/public}"></a></p>
   		<p>User login page<a th:href="@{/private}"></a></p>
   		<p>Administrator login page<a th:href="@{/webadmin}"></a></p>   		
   		<div sec:authorize="isAuthenticated()">
			Hello <span sec:authentication="name">someone</span>
			<p><a th:href="@{/logout}">Disconnect</a></p>
		</div>
   		
    </body>
</html>